# Custom aliases
alias watch='watch '    # enable bash aliases after 'watch'

alias myip="echo $(curl ipinfo.io/ip)"
alias tmux="TERM=xterm-256color tmux"
alias py="python3"

alias ap="ansible-playbook"

{% if tf_aliases is defined %}
alias tf="terraform"
alias tfyes="terraform apply --auto-approve"
alias tg="terragrunt"
alias tgyes="terragrunt apply --auto-approve"
{% endif %}

{% if kube_aliases is defined %}
alias k="kubectl"
alias ks="kubectl -n kube-system"
complete -o default -F __start_kubectl k
{% endif %}
